/*
  background-grey: #F4F3F4;
  button-purple: #192592
  main-titles dark-grey: #2C303F;
  paragraph grey: #5b5e6d;
  nav grey: #5b5e6d;
*/

/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font: 400 16px/1.5 "CircularPro, Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  color: #5b5e6d;
}
img {
  max-width: 100%;
}

/* ---- typography ---- */
a {color: #5b5e6d;
text-decoration: none;}

h1 {color: #2C303F;
  font-weight: 700;
}
/* ---- layout ---- */

.inline-list {
  display: flex;
  list-style: none;
  align-items: center;
}
.inline-list li:first-child{
flex-basis: 100px;
}
.inline-list li{
  margin: 15px;
}

.button {
 width: 100%;
 color: #ffffff;
 background-color: #192592;
 border-radius: 4px;}

/* ---- nav ---- */
nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-bottom: 2px solid #cccccc;
}

/* ---- sections ---- */

.main-header {
  margin-top: 124px;
  padding: 20px 0;
}

/* ---- footer ---- */


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .main-header{
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  .main-header-image,.main-header-content {
    flex-basis: 50%;}
    .main-header-image img {
      width: 80%;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}